<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit employee</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 200vh;">
        <div class="w-50">
            <h1 class="mt-5 text-center">Edit employee</h1>
            <form th:action="@{/pratibha/update/{id}(id=${employee.id})}" th:object="${employee}" method="post" class="mt-3">
               
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="employeeName">Name</label>
                    <input type="text" class="form-control" id="employeeName" th:field="*{name}" placeholder="Enter employee name">
                </div>
                <div class="form-group">
                    <label for="employeeEmail">Email</label>
                    <input type="email" class="form-control" id="employeeEmail" th:field="*{email}" placeholder="Enter employee email">
                </div>
                <div class="form-group">
                    <label for="employeeAge">Phone</label>
                    <input type="number" class="form-control" id="employeePhone" th:field="*{phone}" placeholder="Enter employee Phone">
                </div>

                <div class="form-group">
                    <label for="dob">Dob:</label>
                    <input type="date" class="form control" id="dob" th:field="*{dob}" placeholder="dd/mm/yyyy">
                </div>
                <div class="form-group">
                    <label for="gender">gender:</label><br>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">male</label><br>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">female</label><br>
                    </div>

                    <div class="form-group">
                        <label for="language">Choose a language:</label><br>
                        <input type="checkbox" id="python" name="language" value="python">
                        <label for="python">python</label><br>
                        <input type="checkbox" id="java" name="language" value="java">
                        <label for="java">java</label><br>
                        <input type="checkbox" id="c" name="language" value="c">
                        <label for="c">c</label><br>
                        </div>

                        <div class="form-group">
                            <label for="education">Education</label>
                            <select id ="education">
                                <option id="SSLC">SSLC</option>
                                <option id="PUC">PUC</option>
                                <option id="Graduate">Graduate</option>
                                <option id="Post Graduate">Post Graduate</option>
                              </select>
                            </div>

    
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>