<div th:replace="fragments/nav :: nav"></div>
<nav th:fragments="menu" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Springboot</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/users/list}">Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/pratibha/list}">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{consumer/list}">Staff</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

